@import url(./index.css);

*{
    font-family: var(--font-1);
    color: var(--color-primary);
    font-weight: 400;

    
}

.sup{
font-size: 7px;

}


.logo{
width: 32px;
border-radius: 50%;


}
/*-----------------------------------NAV------------------------*/
nav{
    margin: 0px 125px;
}

.nav{
    justify-content: space-between;
   display: flex;
   align-items: center;
  
  
}

.nav div a{
    text-decoration: none;
}

.navleft{
display: flex;
text-align: center;
align-items: center;
gap: 10px;



}
.navright{
    display:flex;
    text-align: center;
    gap: 40px;
    
}

/*-----------------------------------HEADER------------------------*/
.header{
padding-top: 150px;
}
.header h2{

text-align: center;
font-weight: 500;
font-size: 14px;





}
.header h1{
font-size: clamp(36px, 15.5774647887px + 4.0845070423vw, 94px);
text-align: center;
line-height: 100%;
margin: 0;
margin-top: 14px;
}
.header_middle_under{
align-items: center;
text-align: center;


}